<div id="app-front-page">
  <h1 id="app-title">Water Usage App</h1>

  <%= link_to "Check Water Usage", "/#usages", { class: "btn btn-lg btn-success btn-front-page" } %>
  <%= link_to "Developers Site", "/developers", { class: "btn btn-lg btn-success btn-front-page" } %>
</div>