<% products.each(function(product) { %>
  <li
    data-name="<%= product.escape("name") %>"
    data-efficiency="<%= product.escape("efficiency") %>"
    class="product-item col-xs-offset-1 col-xs-10"
  >
    <img class="circular" src="<%= product.escape('image_url') %>">
    <%= product.escape("name").charAt(0).toUpperCase() + product.escape("name").slice(1) %>
    <span class="glyphicon glyphicon-ok"></span>
  </li>
<% }) %>
