<% products.each(function(product) { %>
  <li
    data-name="<%= product.escape("name") %>"
    data-efficiency="<%= product.escape("efficiency") %>"
    class="product-item">
    <%= product.escape("name") %>
  </li>
<% }) %>
