/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.dev-page-code-output {
  font-size: 11px;
}

#dev-page-description {
  margin: 20px 10%;
}

#dev-page-content {
  margin: 12px;
}

.developers-page {
  overflow: auto;
  background: white;
  height: 100%;
  width: 100%;
  padding: 20px;
}

rect {
  transition: height 3.0s ease;
}

* {
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

.container {
  height: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  width: 100%;
}

#app-front-page {
  position: relative;
  height: 100%;
  width: 100%;
}

#app-title {
  position: absolute;
  font-size: 80px;
  color: white;
  bottom: 12%;
  left: 8%;
}

#app-subtitle {
  position: absolute;
  font-size: 40px;
  color: white;
  bottom: 5%;
  left: 8%;
}

.btn-front-page {
  margin: 12px;
}

.dashboard-sidebar {
  color: white;
  height: 100%;
  padding-left: 30px;
  background: #709291;
}

.dashboard-details {
  height: 100%;
  background: white;
  box-shadow: 12px 0 20px -8px rgba(13, 14, 14, 0.6), -12px 0 20px -8px rgba(13, 14, 14, 0.6);
}

#main {
  position: fixed;
  margin-top: 50px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("http://thegreenleaf.staradvertiserblogs.com/files/2014/06/International_Surf_Day2014_freecomputerdesktopwallpaper_2560.jpg");
  background-size: 100% 100%;
}

.bar {
  fill: rgba(70, 130, 180, 1);
}

.axis text {
  font: 14px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: block;
}

.product-item {
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  transition: 0.3s ease-out;
  &:hover {
    cursor: pointer;
    color: rgb(138, 222, 200);
    transition: 0.3s ease-in;
  }
  &:hover img {
    border: 5px solid rgba(138, 222, 200, 1);
    transition: 0.3s ease-in;
    box-shadow: 0px 0px 0px 0px;
  }
}

.product-item.active {
  color: rgb(138, 222, 200);
  opacity: 1;
  transition: 0.3s ease-in;
}

.glyphicon {
  color: rgb(138, 222, 200);
  opacity: 0;
  transition: 0.3s ease-out;
}

.active-icon {
  opacity: 1;
  transition: 0.3s ease-in;
}

hr {
  opacity: 0.2;
}

h3 {
  text-shadow: 0px 0px 1px black;
}

.waterhack-navbar {
  height: 50px;
  position: absolute;
  z-index: 999999999999999;
  box-shadow: 0px 2px 2px 0px rgba(13, 14, 14, 0.6);
  width: 100%;
  background: #5C6F6F;
}

nav * {
  color: white;
  text-shadow: 0px 0px 1px black;
}

div.product-item-list {
  overflow: auto;
  height: 500px;
}

.product-list {
  padding: 0px;
  margin-top: 5px;
}

.circular {
	width: 100px;
	height: 100px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

img {
  transition: 0.3s ease-out;
  margin-right: 25px;
  border: 5px solid rgba(0,0,0,0);
  box-shadow: 0px 0px 3px 1px #4B6354;
}

.active-img, {
  box-shadow: 0px 0px 0px 0px;
  border: 5px solid rgba(138, 222, 200, 1);
  border-radius: 150px;
  transition: 0.3s ease-in;
}
