/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

rect {
  transition: height 3.0s ease;
}

* {
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

.container {
  height: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  width: 100%;
}

#app-front-page {
  position: relative;
  height: 100%;
  width: 100%;
}

#app-title {
  position: absolute;
  font-size: 80px;
  color: white;
  bottom: 10%;
  left: 8%;
}

.btn-front-page {
  margin: 12px;
}

.dashboard-sidebar {
  color: white;
  height: 100%;
  padding-left: 30px;
  background: #5C6F6F;
}

.dashboard-details {
  height: 100%;
  background: white;
  box-shadow: 12px 0 20px -8px rgba(53, 32, 99, 0.6), -12px 0 20px -8px rgba(53, 32, 99, 0.6);
}

#main {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("http://thegreenleaf.staradvertiserblogs.com/files/2014/06/International_Surf_Day2014_freecomputerdesktopwallpaper_2560.jpg");
  background-size: 100% 100%;
}

.bar {
  fill: steelblue;
}

.axis text {
  font: 10px sans-serif;
}

rect {
  transition: 1.0s ease-in;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: block;
}

.product-item:hover {
  cursor: pointer;
}

.product-item.active {
  color: black;

}
