<div class="video-overlay"></div>
<video autoplay loop id="bgvid" muted>
  <source src="https://ia700400.us.archive.org/9/items/niagara_falls_HD/niagara_falls_HD_512kb.mp4" type="video/mp4">
</video>
