<div class="dev-page-content container">
  <h1>Water Hack Developers API</h1>

  <div id="dev-page-description">
    <p>So far we monthly data usage for nearly 100 users with data as far 
    back as December 2014. Follow the documentation below to learn how to leverage
    our API to develop better tools.</p>
  </div>


  <div class="dev-page-set col-md-4">
    <p>Lorem Ipsum</p>
    <p>Lorem Ipsum</p>
  </div>

  <div class="dev-page-set col-md-4">
    <p>Lorem Ipsum</p>
    <p>Lorem Ipsum</p>
  </div>
  
  <div class="dev-page-set col-md-4">
    <p>Lorem Ipsum</p>
    <p>Lorem Ipsum</p>
    <p>Lorem Ipsum</p>
  </div>
</div>